<div>
	<navbar></navbar>
	<div class="container simulator-page">

		<div class="row">
			<div class="col-lg-6">
				<h1>Tetris Simulator</h1>
        <form name="simulator" class="form-horizontal">
           <fieldset>
    				<div class="form-group">
                <label for="pieces" class="col-lg-2 control-label">Pieces</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="4" id="pieces" ng-model="pieces" required ng-change="reset()"></textarea>
                  <span class="help-block">For example: IJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZIJLOSTZ</span>
                </div>
            </div>
            <div class="form-group">
                <label for="moves" class="col-lg-2 control-label">Moves</label>
                <div class="col-lg-10">
                  <textarea class="form-control" rows="4" id="moves" ng-model="moves" required ng-change="reset()"></textarea>
                  <span class="help-block">For example: 3:1;0:0;3:0;0:1;6:1;6:0;5:1;5:0;3:1;6:0;1:0;2:1;3:2;2</span>
                </div>
            </div>
          </fieldset>
        </form>				
			</div>
      <div class="col-lg-6">
        <div id="display"></div>
        <div class="actions">
          <button class="btn btn-primary" ng-if="!playing" ng-click="play()" title="Autoplay"><span class="glyphicon glyphicon-play"></span></button>
          <button class="btn btn-primary" ng-if="playing" ng-click="pause()" title="Pause"><span class="glyphicon glyphicon-pause"></span></button>

          <button class="btn btn-default" ng-click="playOne()" ng-disabled="playing" title="Next step"><span class="glyphicon glyphicon-step-forward"></span></button>
          <button class="btn btn-default" ng-click="jump()" ng-disabled="playing || isOver()" title="Jump to step"><span class="glyphicon glyphicon-fast-forward"></span></button>
          <span>Step: {{t.shapeIndex}}/{{t.nextShapes.length}}</span>
        </div>
      </div>
		</div>
	</div>
</div>