 
  <nav class="navbar navbar-default">

    <div class="container container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" >
          <span class="glyphicon glyphicon-menu-hamburger visible-xs-inline-block" aria-hidden="true" ng-click="collapsed = !collapsed"></span>
          <a href="#">Tetris</a>
        </span>
      </div>
      <div ng-class="{'collapse': collapsed, 'navbar-collapse':collapsed}">
        <ul class="nav navbar-nav">
          <li ng-class="active === 'intro' ? 'active' : ''"><a href="#!/intro">Tetris Challenge</a></li>
          <li ng-class="active === 'news' ? 'active' : ''"><a href="#!/news">News!</a></li>
          <li ng-class="active === 'top' ? 'active' : ''"><a href="#!/challengers">View Top</a></li>
          <li ng-class="active === 'solution' ? 'active' : ''"><a href="#!/solution">Upload solution</a></li>
          <li ng-class="active === 'simulator' ? 'active' : ''"><a href="#!/simulator">Simulator</a></li>
        </ul>
      </div>
    </div>
  </nav>
